.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template: 1fr 50px 8fr / 1fr;
  grid-template-areas:
    'header'
    'nav'
    'list';
}
nav {
  background: red;
  display: flex;
  justify-content: space-around;
}
.article {
  border: solid green;
}
.header {
  background: orange;
}
.comments {
  border: solid black;
}
