* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgba(204, 199, 199, 0.034);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.App {
  text-align: center;
  height: auto;
  display: grid;
  grid-template: 1fr 50px 8fr / 1fr;
  grid-template-areas:
    'header'
    'nav'
    'list';
}
nav {
  display: flex;
  justify-content: space-around;
}

.articleLink {
  background: olive;
  text-decoration: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  color: red;
  background: black;
  text-align: left;
}

.comments {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 1px;
  margin-right: 1px;
  text-decoration: none;
  color: black;
  box-shadow: 1px 2px 10px rgb(5, 3, 29);
  border-radius: 5px 20px 5px;
  text-align: center;
  color: black;
}
.nav {
  text-decoration: none;
  color: black;
  background: rgb(255, 98, 98);
  padding: 5px;
  box-shadow: 1px 2px 10px rgb(5, 3, 29);
  border-radius: 5px 20px 5px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 60px;
}
.homeNav {
  text-decoration: none;
  color: rgb(80, 98, 202);
  box-shadow: 1px 2px 10px rgb(5, 3, 29);
  border-radius: 10px 20px 60px;
  text-align: center;
}

button {
  text-decoration: none;
  color: black;
  border: rgb(255, 1, 1);
  background: rgb(255, 98, 98);
  box-shadow: 1px 2px 10px rgb(5, 3, 29);
  border-radius: 30%;
  text-align: center;
  padding: 5px;
}
.cooking {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  box-shadow: 1px 2px 10px rgb(5, 3, 29);
  border-radius: 5px 20px 5px;
  text-align: center;
  color: black;
}
.football {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  box-shadow: 1px 2px 10px rgb(5, 3, 29);
  border-radius: 5px 20px 5px;
  text-align: center;
  color: black;
}

.coding {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  box-shadow: 1px 2px 10px rgb(5, 3, 29);
  border-radius: 5px 20px 5px;
  text-align: center;
  color: black;
  color: black;
}
.commentAuthor {
  margin-bottom: 20px;
  font-size: larger;
}
.commentDate {
  margin-bottom: 20px;
}
.commentBody {
  margin-bottom: 20px;
}

.deleteCommentButton {
  margin-bottom: 20px;
}
.updateVotes {
  display: flex;
  justify-content: space-evenly;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}
.greeting {
  margin-top: 50px;
  font-size: larger;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.articleTitle {
  margin-bottom: 20px;
  font-size: larger;
  font-weight: 550;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.articleBody {
  margin-bottom: 20px;
}
.title {
  margin-bottom: 20px;
  font-size: larger;
  font-weight: 550;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topic {
  margin-bottom: 20px;
  font-size: larger;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.body {
  margin-bottom: 20px;
  margin-top: 20px;
}
.textArea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.commentButton {
  align-self: center;
}
.up {
  background-color: green;
  margin-bottom: 5px;
}
.down {
  background-color: red;
  margin-bottom: 5px;
}
.filter {
  color: purple;
}
@media screen and (min-width: 600px) {
  .comments {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 300px;
    margin-right: 300px;
    text-decoration: none;
    color: black;
    box-shadow: 1px 2px 10px rgb(5, 3, 29);
    border-radius: 5px 20px 5px;
    text-align: center;
    color: black;
  }
  .updateVotes {
    display: flex;
    justify-content: space-evenly;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
  }
  .articleBody {
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
  }
  .articleTitle {
    padding: 50px;
  }
  nav {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .up {
    margin-bottom: 10px;
  }
  .down {
    margin-bottom: 10px;
  }
  .football {
    margin-left: 350px;
    margin-right: 350px;
  }
  .coding {
    margin-left: 350px;
    margin-right: 350px;
  }
  .cooking {
    margin-left: 350px;
    margin-right: 350px;
  }
}
